In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('Data/madrid_neighborhoods.csv', sep=';', error_bad_lines=False)
df

,OBJECTID_1,NOMDIS,NOMBRE,Shape_Leng,Shape_Area,COD_DIS,COD_DIS_TX,BARRIO_MAY,COD_DISBAR,COD_BAR,NUM_BAR,BARRIO_MT,COD_DISB
0,60,Centro,Palacio,"5754,822748","1469905,684",1,1,PALACIO,11,11,1,PALACIO,1_1
1,50,Centro,Embajadores,"4275,227681","1033724,698",1,1,EMBAJADORES,12,12,2,EMBAJADORES,1_2
2,55,Centro,Cortes,"3731,07903","591874,1219",1,1,CORTES,13,13,3,CORTES,1_3
3,64,Centro,Justicia,"3597,421427","739414,338",1,1,JUSTICIA,14,14,4,JUSTICIA,1_4
4,66,Centro,Universidad,"4060,075813","948027,0773",1,1,UNIVERSIDAD,15,15,5,UNIVERSIDAD,1_5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,101,Barajas,Alameda de Osuna,"6044,942922","1970335,16",21,21,ALAMEDA DE OSUNA,211,211,1,ALAMEDA DE OSUNA,21_1
127,124,Barajas,Aeropuerto,"28744,09551","29626078,71",21,21,AEROPUERTO,212,212,2,AEROPUERTO,21_2
128,112,Barajas,Casco Hist�rico de Barajas,"3388,647571","549393,8312",21,21,CASCO HISTORICO DE BARAJAS,213,213,3,CASCO HIST�RICO DE BARAJAS,21_3
129,123,Barajas,Tim�n,"11840,04489","5094466,328",21,21,TIMON,214,214,4,TIM�N,21_4
130,107,Barajas,Corralejos,"9726,95075","4682537,436",21,21,CORRALEJOS,215,215,5,CORRALEJOS,21_5

In [6]:
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
import geocoder # to get coordinates

In [7]:
# define a function to get coordinates
def get_latlng(neighborhood):
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, Madrid, Spain'.format(neighborhood))
        lat_lng_coords = g.latlng
    return lat_lng_coords

In [ ]:
# call the function to get the coordinates, store in a new list using list comprehension
coords = [ get_latlng(neighborhood) for neighborhood in df["NOMBRE"].tolist() ]

In [ ]:
coords